body {
    font-family: 'Muli', sans-serif;
    background-color: #fafafa;
    /* background-image: url("../images/blue-watercolor-light.gif"); */
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

h1, h2 {
    color: #8f344e;
    font-family: 'Cinzel', serif;
    font-weight: 100;
    text-transform: lowercase;
}

h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 1.7em
}

p {
    font-size: 1.2em;
}

.navigation div {
    /* border: 1px solid #3C3C3C; */
    border-radius: 4px;
    padding: .75em 1em;
    background: #a6848d;
}

a.button {
    text-decoration: none;
    color: white;
}


.page-content> div.row:nth-of-type(odd) {
    background: #fafafa;
}

.card {
    box-shadow: 0px 1px 5px #555;
    border: 1px solid #fafafa;
    border-radius: 4px;
    padding: .5rem;
    background: #fafafa;
}

.green {
    background-image: url('../images/green-watercolor.gif');
    background-size: cover;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}
.card p {
    font-size: 1em;
}

.footer {
    background-image: url('../images/PM_watercolor_bg_simple.png');
    min-height: 600px;
    background-size: cover;
}

.footer img {
    height: 25px;
}